.cate-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
     padding: 5px;
     margin: 5px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-evenly;
}
.cate-product-container{
    height: 82vh;
    overflow-y: scroll;
}
.cate-product-container::-webkit-scrollbar{
    display: none;
}
.cate-li{
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 5px;
    width: 25%;
    border-radius: 5px;
}